.wrapper{
	margin-left: -15px; 
	margin-bottom: 5px;
}

.btnAdd{
	width:auto;
	height:auto; 
	margin-left: 14px; 
}

.lbAdd{
	margin-bottom:0;
}




.iconDel{
	margin-left: 15%;
}

.checkall{
		vertical-align: middle;
}



@media only screen and (min-width: 1651px){
	.checkall{
		margin-left: 10%;
	}
}

@media only screen and (max-width: 1300px){

}