<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>managementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>IndexClassesController</servlet-name>
    <servlet-class>controller.IndexClassesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexClassesController</servlet-name>
    <url-pattern>/classes/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClassesController</servlet-name>
    <servlet-class>controller.AddClassesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassesController</servlet-name>
    <url-pattern>/classes/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTraineeController</servlet-name>
    <servlet-class>controller.AddTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTraineeController</servlet-name>
    <url-pattern>/trainee/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTraineeController</servlet-name>
    <servlet-class>controller.EditTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTraineeController</servlet-name>
    <url-pattern>/trainee/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexTraineeController</servlet-name>
    <servlet-class>controller.IndexTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexTraineeController</servlet-name>
    <url-pattern>/trainee/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTraineeController</servlet-name>
    <servlet-class>controller.DeleteTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTraineeController</servlet-name>
    <url-pattern>/trainee/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexCourseController</servlet-name>
    <servlet-class>controller.IndexCourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCourseController</servlet-name>
    <url-pattern>/course/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourseController</servlet-name>
    <servlet-class>controller.AddCourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseController</servlet-name>
    <url-pattern>/course/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCourseController</servlet-name>
    <servlet-class>controller.EditCourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourseController</servlet-name>
    <url-pattern>/course/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCourseController</servlet-name>
    <servlet-class>controller.DeleteCourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseController</servlet-name>
    <url-pattern>/course/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewTrainerController</servlet-name>
    <servlet-class>controller.AddNewTrainerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewTrainerController</servlet-name>
    <url-pattern>/trainer/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexTrainerController</servlet-name>
    <servlet-class>controller.IndexTrainerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexTrainerController</servlet-name>
    <url-pattern>/trainer/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTrainerController</servlet-name>
    <servlet-class>controller.EditTrainerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTrainerController</servlet-name>
    <url-pattern>/trainer/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Error400Controller</servlet-name>
    <servlet-class>controller.Error400Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error400Controller</servlet-name>
    <url-pattern>/badrequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  
</web-app>