.divForm{
	margin-bottom: 20px;
}
table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
    border-collapse: collapse;
    width: 98%;
    border: 1px solid rgb(177, 177, 177);
}

th, td{
	border: 1px solid rgb(177, 177, 177);
    height: auto;
    padding: 10px 10px 10px;
}

th, .no, .time, .date, .duration, .trainer, .btnRegister{
	text-align: center;
}

.btn{
	color: white;
	background:#2e9ade;
	font-size: 12px;
	width:70px;
}

.btn1{
	color: rgb(52, 58, 64);
	background: rgb(250, 187, 110);
	font-size: 12px;	
}
.btnRegister{
	max-width: 100px;
}

.btn:hover{
	color:white;
}