a.user-profile {
    color: white !important
}
.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px
}

.nav-item1{
	margin-right: 20px;
}

.info-number .badge {
    font-size: 12px;
    font-weight: normal;
    padding: 2px 4px 2px;
    position: absolute;
    right: 15px;
}

.info-number{
	color: rgb(52, 58, 64) !important;
	margin-right: 8px;
}

.badge {
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 10px;
    background: rgb(26, 187, 156);
}

.iconMail{
	color: white !important;
	width: 20px;
	vertical-align: middle;
}

.dropdown-menu.msg_list span {
    white-space: normal;
}
.menu_user {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 14px;
    right: 1%;
    left: 89%;
    line-height: 30px;
    list-style: none outside none;
    padding: 10px 10px 10px;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.dropdown-menu>li>a {
    color: #5A738E
}
.msg_list{
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    right: 2%;
    left: auto;
    line-height: 25px;
    list-style: none outside none;
    padding: 2px 2px 2px;
    position: absolute;
    text-shadow: none;
    top: 150%;
    z-index: 9997;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 400px;
}


.dropdown-menu li {
    width: 100%
}
.dropdown-menu li a {
    width: 100%;
    padding: 12px 20px
}


ul.msg_list li {
    background: #f7f7f7;
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important
}
ul.msg_list li:last-child {
    margin-bottom: 6px;
    padding: 10px
}
ul.msg_list li a {
    padding: 3px 9px !important
}

ul.msg_list li a .time {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
}
ul.msg_list li a .message {
    display: block !important;
    display: block !important;
    font-size: 13px;
    margin-top:30px;
    height: 20px;
    overflow: hidden;
}
.dropdown-menu.msg_list span {
    white-space: normal
}
