body{
    display: block;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
	font-family: Arial, sans-serif;
}

.wrapper{
        background-size: cover;
        margin-top: auto;
        margin-bottom: auto;
}

.container{
        width: 100%;
        height: 100%;
        padding-top: 12%;
        padding-left: 5%
}

.logoSite{
        height: 100%;
        width: 50%;
        float: left;
        padding-left: 2%;
        padding-right: 2%; 
        padding-top: 8%;
        padding-bottom: 2%;
}

.logo{
        height: 60%;
        width: 70%;
}

.formSite{
        float: right;
        height: 100%;
        width: 50%;
        padding-right: 2%; 
        padding-bottom: 2%;
        padding-top: 2%;
}

.formLogin{
    background-color: transparent;
    vertical-align: center;
}

.divForm{
    text-align: center;
}

.nameForm{
    font-family: Arial, sans-serif;
    font-size: 300%;
    color: white;
}

.divEmail{
    text-align: center;
    margin-top: 8%;
}

.divPassword{
    margin-top: 5%;
    text-align: center;
} 

.inputEmail{
    border: 3px solid white;
    border-radius: 52px;
    height: 53px;
    width: 60%;
    color: rgb(83, 143, 17);
    font-size: 150%;
    padding-left: 5%;
    padding-right: 5%;
}

.inputPassword{
    border: 3px solid white;
    border-radius: 52px;
    height: 53px;
    width: 60%;
    color: rgb(83, 143, 17);
    font-size: 150%;
    padding-left: 5%;
    padding-right: 5%;
}

.button{
    text-align: center;
    margin-top: 5%;
}

.btnLogIn{ 
    border: 3px solid rgb(76, 175, 80);
    border-radius: 52px;
    height: 55px;
    width: 25%;
    background: white;
    color: rgb(83, 143, 17);
    font-weight: 600;
    font-size: 130%;
}

.divForgot{
    margin-top: 3%;
    text-align: center;
}

.forgotPass{
    font-size: 140%;
    color: white;
    font-family: Arial, sans-serif; 
    margin-top: 5%;
    font-weight: bold;
}

a:hover{
    color: white;
}

@media only screen and (min-width: 1001px) and (max-width: 1090px){
	.formSite{
        float: right;
        height: 100%;
        width: 50%;
        margin-top: -30px;
        padding-right: 2%; 
        padding-bottom: 2%;
        padding-top: 2%;
	}
	.nameForm{
	    font-size: 200%;
	}
}
	
@media only screen and (max-width: 1000px) {
	body{
	    display: block;
	    background: white;
	    width: 100%;
	    height: 100%;
		font-family: Arial, sans-serif;
	}
	.container{
        width: 100%;
        height: 100%;
	}
	.logoSite{
		text-align:center;
        height: 100%;
        width: 100%;
        margin-left:auto;
        margin-right: auto;
	}
	.formSite{
        float: left;
        height: 100%;
        width: 100%;
        padding: 15px 15px 15px;
	}

	.formLogin{
	    background-color: transparent;
	    border:1px solid rgb(204, 204, 204);
	    border-radius: 5px;
	    padding-top: 40px;
	    padding-bottom:40px;
	}

	.divForm{
	    text-align: center;
	    padding: 0px 5px 0px;
	}

	.nameForm{
	    font-family: Arial, sans-serif;
	    font-size: 150%;
	    color: rgb(139, 139, 139);
	}

	.divEmail{
	    text-align: center;
	}

	.divPassword{
	    margin-top: 5%;
	    text-align: center;
	} 

	.inputEmail{
	    border: 1px solid rgb(139, 139, 139);
	    border-radius: 52px;
	    height: 35px;
	    width: 60%;
	    color: rgb(83, 143, 17);
	    font-size: 100%;
	    padding-left: 5%;
	    padding-right: 5%;
	}

	.inputPassword{
	    border: 1px solid rgb(139, 139, 139);
	    border-radius: 52px;
	    height: 35px;
	    width: 60%;
	    color: rgb(83, 143, 17);
	    font-size: 100%;
	    padding-left: 5%;
	    padding-right: 5%;
	}

	.button{
	    text-align: center;
	    margin-top: 5%;
	}

	.btnLogIn{ 
	    border: 1px solid rgb(83, 143, 17);
	    border-radius: 52px;
	    height: 35px;
	    width: 25%;
	    background: white;
	    color: rgb(83, 143, 17);
	    font-weight: 500;
	    font-size: 90%;
	    text-align: center;
	    padding:0px 2px 0px;
	}

	.divForgot{
	    margin-top: 5%;
	    text-align: center;
	}

	.forgotPass{
	    font-size: 110%;
	    color: rgb(139, 139, 139);
	    font-family: Arial, sans-serif; 
	}
}

